<div id="email-mask">
  <div id="email-container-mask" class="main-bar">
    <div class="email-intro">
      <div class="email-intro-icon">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </div>
      <div class="email-intro-text">select a draft</div>
    </div>
  </div>
</div>
