<%= render 'drafts_listing' %>

<div class="main-right-bar">
  <div class="top-bar">
    <%= render 'shared/account' %>
  </div>
  
  <div id="draft_ajax">
    <%= render 'draft_mask' %>
  </div>
</div>